    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a href="#top-of-page" class="icon-chevron-up"></a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">

      <div id="footer">
        <div class="row">



          <!--À propos -->
          <div class="small-6 medium-3  large-3 columns ">
            <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>

            <p class="shadow-black">
              {{ site.description }}
              <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.data.language.more }}</a>
            </p>
          </div><!-- /.large-6.columns -->


          <!-- <div class="small-6 large-3 columns grand-only"> -->
          <!--   <h5 class="shadow-black">{{ site.data.language.info_website }}</h5> -->
          <!--   <p class="shadow-black"> -->
          <!--     {{ site.description }} -->
          <!--     <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.data.language.more }}</a> -->
          <!--   </p> -->
          <!-- </div><\!-- /.large-6.columns -\-> -->
          <!--À propos -->




          <!-- service -->
          <!-- small-2 medium-2 large-2  -->

          <div class="small-6 medium-3 large-2 large-offset-1  columns">
            {% for service_item in site.data.services %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

            <ul class="no-bullet shadow-black">
            {% for service_item in site.data.services %}
              {% if service_item.url contains 'http' %}
                 {% assign domain = '' %}
              {% else %}
                 {% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
            {% endif %}
              <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
          <!-- service -->


          <!--logo UCA -->
          <div class="large-6 medium-6 small-15 columns logo-footer" >

          <div class="medium-6 large-6 small-6 columns logo-footer" class="grand-onlyd">
           <a  href="https://ds4h.univ-cotedazur.fr" >
           <img class="grand-onlyd" src="{{site.baseurl}}/assets/img/foot-ds4h.png" alt="DS4H">
           </a>
          </div>

          <div class="medium-6 large-6 small-6  columns logo-footer" class="grand-onlyd">
           <a  href="https://univ-cotedazur.fr" >
           <img class="grand-onlyd" src="{{ site.baseurl }}/assets/img/foot-uca.png" alt="UCA">
           </a>
          </div>

        </div>
         <!--FIN logo UCA -->









        </div><!-- /.row -->




      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
