@charset "utf-8";
/* TOC – Typography

Check typography variables › _3_typography_settings.scss

- Links
- Customize Foundation Typography
- Headlines
- Images
- Lists
- Tables
- Code
- Quotes
- Typography for Articles
- Smaller Fontsize for Bigteaser on small devices
- Additional typographical elements
- Footnotes
- Icon Font

*/



/* Links
------------------------------------------------------------------- */

a,
a:link {
    transition: all .4s;
}

a:visited {
    border-bottom: $grey-2;
}

a:hover {
    color: darken( $ci-1, 10% );
}

a:focus {
    color: lighten( $ci-1, 20% );
}

a:active {
    color: darken( $ci-1, 20% );
}



/* Customize Foundation Typography
------------------------------------------------------------------- */

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: normal;
    /* Non standard for webkit */
    word-break: normal;
    text-align: justify;
}
//p a,
article a {
    font-weight: bold;
    border-bottom: 1px dotted;
}
//p a:hover,
article a:hover {
    border-bottom: 2px solid;
}
p a.button,
.button,
.button:hover {
    border: 0;
    color: #fff;
}
p.button a {
    border: 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}



/* Headlines
------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: normal;
    padding: 0;
}

h1 {
    font-size: $font-size-h1;
    margin-top: 0;
}

/* Added  by Olivier Baldellon */
h1.withsubtitle {
    font-size: $font-size-h1;
    margin-top: 0;
    margin-bottom: 0;
}
/* end Added */


h2 {
    font-size: $font-size-h2;
    margin: 1.563em 0 0 0;
}
    .blog-index h2 {
        margin-top: 0;
    }
h3 {
    font-size: $font-size-h3;
    margin: 1.152em 0 0 0;
}
h4 {
    font-size: $font-size-h4;
    margin: 1.152em 0 0 0;
}
h5 {
    font-size: $font-size-h5;
    margin: 1em 0 0 0;
}



/* Images
------------------------------------------------------------------- */

img { border-radius: $global-radius;}
    img.alignleft,
    img.left        { float: left; margin:5px 15px 5px 0; }
    img.alignright,
    img.right       { float: right; margin:5px 0 5px 15px; }
    img.aligncenter,
    img.center      { display: block; margin:0 auto 10px; }

figure {
    margin: 0 0 rem-calc(30) 0;
}
#masthead-with-background-color figure,
#masthead-with-pattern figure {
    margin: 0;
}
figcaption,
.masthead-caption {
    color: $grey-10;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(13);
    padding-top: rem-calc(2);
}
figcaption a,
.masthead-caption a {
    border-bottom: 1px dotted $grey-4;
    color: $grey-10;
}
figcaption a:hover,
.masthead-caption a:hover {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
}
.masthead-caption {
    padding-right: 10px;
    text-align: right;
}



/* Tables
------------------------------------------------------------------- */

td {
    vertical-align: top;
}



/* Code
From https://github.com/Phlow/feeling-responsive/issues/156
------------------------------------------------------------------- */
$code-border: 3px ridge transparentize($primary-color, 0.5);
pre {
    margin-bottom: rem-calc(20);
    padding: rem-calc(4) rem-calc(7) rem-calc(3) rem-calc(4);
    border-radius: $global-radius;
    line-height: 1.2;
    max-height: 350px;
    /*@if variable-exists(this-code-color) {
        color: $this-code-color;
    }
    @else {
        color: $code-color;
    }
    @if variable-exists(this-code-background-color) {
        background-color: $this-code-background-color;
        .alert-box & {
            background-color: opacify($this-code-background-color, 0.3);
        }
    }
    @else {
        background-color: $code-background-color;
        .alert-box & {
            background-color: opacify($code-background-color, 0.3);
        }
    }*/
    &:active {
        //max-height: none; // TODO annoying and impossible to scroll
    }
    @media not print {
        border: $code-border;
    }
    @media print {
      max-height: none;
      code {
        white-space: pre-wrap;
      }
    }

    code {
        border: 0;
        padding: 0;
        line-height: 1.2;
        font-size: rem-calc(14);
        background: transparent;
        box-shadow: none;
        color: inherit;
        text-shadow: none;
    }

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        /*@if variable-exists(this-code-background-color) {
            background: lighten($this-code-background-color, 10%);
        }
        @else {
            background: lighten($code-background-color, 10%);
        }*/
    }

    &::-webkit-scrollbar-thumb {
        background: darken($primary-color, 40%);
        @media print {
            background: rgba(black, 0.3);
        }
        background-clip: padding-box;
        border-radius: 1ex;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.highlight.debug code {
  white-space: pre-wrap;
}

.highlight[title]::before, .highlighter-rouge[title]::before {
    content: attr(title);
    text-align: center;
    display: block;
    border: $code-border;
    @media print {
        border: 1px solid $aluminum !important; // from _type > @print > pre
    }
    background-color: transparentize($primary-color, 0.8);
    color: $primary-color;
    border-bottom: none;
}

code, var {
    padding: rem-calc(1.5) rem-calc(2) rem-calc(0.5) rem-calc(2);
    font-style: normal;
    letter-spacing: rem-calc(-0.5);
    // use em instead of rem to make sure inline code in headings is relative
    font-size: 0.875em;
    // disable shadow inside alert-box
    text-shadow: none;
}

kbd {
    text-shadow: 1px 1px 3px white;
}

code.highlighter-rouge {
    /*background-color:transparent;
    color:black;*/
    border-style: none;
}



/* Lists
------------------------------------------------------------------- */

ul, ol {
    margin-left: 20px;
    padding: 0;
}
li {
    margin-left: 0;
}

.no-bullet {
    list-style: none;
    margin-left: 0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

dl {

}
dt:first-child {
    padding-top: 0px;
}
dt {
    font-weight: bold;
    padding-top: 30px;
}
dd {
}
article dl dt   { line-height: 1.3; }
article dl dd   { line-height: 1.6; margin-bottom: rem-calc(12); margin-left: rem-calc(24); }

/* Reduce spacing between paragraphs and lists */
p + ul {
    margin-top: -1rem;
}

p + ol {
    margin-top: -1rem;
}

/* Quotes
------------------------------------------------------------------- */

blockquote {
    font-style: italic;
    position: relative;
    border: none;
    margin: 0 30px 30px 30px;
    color:  $grey-11;
}

    blockquote p {font-style: italic; color: $grey-10; }

    blockquote:before {
        display:block;content:"\00BB";
        font-size:80px;
        line-height: 0;
        position:absolute;
        left:-25px;
        top: auto;
        color: $grey-11;
    }
    blockquote:after {
        display:block;
        content:"\00AB";
        font-size:80px;
        line-height: 0;
        position:absolute;
        right:-10px;
        bottom: 20px;
        color: $grey-11;
    }
    blockquote cite:before {
        content:"\2014 \0020"
    }
    blockquote cite a,blockquote cite a:visited {
        color: $grey-10;
    }
cite {
    padding-top: 5px;
}

button, .button {
    letter-spacing: 1px;
}

mark {
    background-color: scale-color($warning-color, $lightness: 60%);
}



/* Typography for Articles
------------------------------------------------------------------- */

.subheadline {
    font-size: rem-calc(16);
    margin: 0;
    text-transform: uppercase;
}

/* Added by Olivier Baldellon*/
.subtitleline {
    font-size:  $font-size-h2;
    font-family: $header-font-family;
    margin: 0;
/*    text-transform: uppercase;*/
}
/* end Added */

.teaser {
    font-size: rem-calc(20);
}
.big-teaser {
    font-style: italic; font-weight: 300;
}
.big-teaser a {
    font-style: italic; font-weight: 400;
}

/* Smaller Fontsize for Bigteaser on small devices */
@media only screen {
    .big-teaser {
        font-size: rem-calc(20);
    }
}
@media only screen and (min-width: 40.063em) {
    .big-teaser         {
        font-size: rem-calc(29);
    }
}



/* Additional typographical elements
------------------------------------------------------------------- */

.sans           { font-family: $font-family-sans-serif; }
.serif          { font-family: $font-family-serif; }

.font-size-h1   { font-size: $font-size-h1; }
.font-size-h2   { font-size: $font-size-h2; }
.font-size-h3   { font-size: $font-size-h3; }
.font-size-h4   { font-size: $font-size-h4; }
.font-size-h5   { font-size: $font-size-h5; }
.font-size-p    { font-size: $font-size-p; }



/* Footnotes
------------------------------------------------------------------- */

.footnotes:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    margin-top: -10px;
    border-bottom: 1px solid $grey-2;
}
.footnotes {
    margin-top: 60px;
}
.footnotes ol {
    font-size: $font-size-small;
}
.footnotes p {
    font-size: inherit;
    margin-bottom: 0;
}




/* Icon Font
   See the icon-set/preview in /assets/fonts/iconfont-preview.html
------------------------------------------------------------------- */

@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/iconfont.woff2") format("woff2"),
         url("../fonts/iconfont.woff") format("woff"),
         url("../fonts/iconfont.ttf") format("truetype"),
         url("../fonts/iconfont.svg#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: iconfont;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.svg#iconfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-price-tag:before,
.icon-mail:before,
.icon-facebook:before,
.icon-github:before,
.icon-home:before,
.icon-alarm:before,
.icon-archive:before,
.icon-attention:before,
.icon-back-in-time:before,
.icon-blackboard:before,
.icon-browser:before,
.icon-calendar:before,
.icon-camera:before,
.icon-cancel-circled:before,
.icon-chat:before,
.icon-check:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-cloud:before,
.icon-code:before,
.icon-cone:before,
.icon-cog:before,
.icon-comment:before,
.icon-edit:before,
.icon-export:before,
.icon-eye:before,
.icon-feather:before,
.icon-globe:before,
.icon-graduation-cap:before,
.icon-heart:before,
.icon-heart-empty:before,
.icon-home:before,
.icon-info:before,
.icon-install:before,
.icon-lab-flask:before,
.icon-leaf:before,
.icon-light-bulb:before,
.icon-location:before,
.icon-magnifying-glass:before,
.icon-mail:before,
.icon-megaphone:before,
.icon-mic:before,
.icon-minus-circled:before,
.icon-network:before,
.icon-open-book:before,
.icon-paper-plane:before,
.icon-plus-circled:before,
.icon-price-tag:before,
.icon-rocket:before,
.icon-rss:before,
.icon-star:before,
.icon-star-empty:before,
.icon-thumbs-up:before,
.icon-thumbs-down:before,
.icon-tree:before,
.icon-trophy:before,
.icon-upload-cloud:before,
.icon-v-card:before,
.icon-video:before,
.icon-bbb:before,
.icon-discord:before,
.icon-dropbox:before,
.icon-facebook:before,
.icon-github:before,
.icon-google-play:before,
.icon-google-plus:before,
.icon-instagram:before,
.icon-linkedin:before,
.icon-paypal:before,
.icon-pinterest:before,
.icon-skype:before,
.icon-soundcloud:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-vimeo:before,
.icon-xing:before,
.icon-youtube:before,
.icon-zoom:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-alarm:before { content: '\f102'; }
.icon-archive:before { content: '\f100'; }
.icon-attention:before { content: '\f146'; }
.icon-back-in-time:before { content: '\f101'; }
.icon-blackboard:before { content: '\f103'; }
.icon-browser:before { content: '\f104'; }
.icon-calendar:before { content: '\f105'; }
.icon-camera:before { content: '\f106'; }
.icon-cancel-circled:before { content: '\f10d'; }
.icon-chat:before { content: '\f107'; }
.icon-check:before { content: '\f108'; }
.icon-chevron-down:before { content: '\f109'; }
.icon-chevron-left:before { content: '\f10a'; }
.icon-chevron-right:before { content: '\f10b'; }
.icon-chevron-up:before { content: '\f10c'; }
.icon-cloud:before { content: '\f110'; }
.icon-code:before { content: '\f111'; }
.icon-cone:before { content: '\f13d'; }
.icon-cog:before { content: '\f112'; }
.icon-comment:before { content: '\f12d'; }
.icon-edit:before { content: '\f115'; }
.icon-export:before { content: '\f116'; }
.icon-eye:before { content: '\f117'; }
.icon-feather:before { content: '\f119'; }
.icon-globe:before { content: '\f11b'; }
.icon-graduation-cap:before { content: '\f11e'; }
.icon-heart:before { content: '\f11f'; }
.icon-heart-empty:before { content: '\f120'; }
.icon-home:before { content: '\f121'; }
.icon-info:before { content: '\f122'; }
.icon-install:before { content: '\f124'; }
.icon-lab-flask:before { content: '\f125'; }
.icon-leaf:before { content: '\f126'; }
.icon-light-bulb:before { content: '\f127'; }
.icon-location:before { content: '\f129'; }
.icon-magnifying-glass:before { content: '\f12a'; }
.icon-mail:before { content: '\f12b'; }
.icon-megaphone:before { content: '\f12c'; }
.icon-mic:before { content: '\f12e'; }
.icon-minus-circled:before { content: '\f10e'; }
.icon-network:before { content: '\f12f'; }
.icon-open-book:before { content: '\f130'; }
.icon-paper-plane:before { content: '\f131'; }
.icon-plus-circled:before { content: '\f10f'; }
.icon-price-tag:before { content: '\f134'; }
.icon-rocket:before { content: '\f135'; }
.icon-rss:before { content: '\f136'; }
.icon-star:before { content: '\f139'; }
.icon-star-empty:before { content: '\f13a'; }
.icon-thumbs-up:before { content: '\f13c'; }
.icon-thumbs-down:before { content: '\f13b'; }
.icon-tree:before { content: '\f13e'; }
.icon-trophy:before { content: '\f13f'; }
.icon-upload-cloud:before { content: '\f142'; }
.icon-v-card:before { content: '\f143'; }
.icon-video:before { content: '\f144'; }

.icon-bbb:before { content: '\f149'; }
.icon-discord:before { content: '\f113'; }
.icon-dropbox:before { content: '\f114'; }
.icon-facebook:before { content: '\f118'; }
.icon-github:before { content: '\f11a'; }
.icon-google-play:before { content: '\f11c'; }
.icon-google-plus:before { content: '\f11d'; }
.icon-instagram:before { content: '\f123'; }
.icon-linkedin:before { content: '\f128'; }
.icon-paypal:before { content: '\f132'; }
.icon-pinterest:before { content: '\f133'; }
.icon-skype:before { content: '\f137'; }
.icon-soundcloud:before { content: '\f138'; }
.icon-tumblr:before { content: '\f140'; }
.icon-twitter:before { content: '\f141'; }
.icon-vimeo:before { content: '\f145'; }
.icon-xing:before { content: '\f147'; }
.icon-youtube:before { content: '\f148'; }
.icon-zoom:before { content: '\f14a'; }


$font-iconfont-alarm: '\f102';
$font-iconfont-archive: '\f100';
$font-iconfont-attention: '\f146';
$font-iconfont-back-in-time: '\f101';
$font-iconfont-blackboard: '\f103';
$font-iconfont-browser: '\f104';
$font-iconfont-calendar: '\f105';
$font-iconfont-camera: '\f106';
$font-iconfont-cancel-circled: '\f10d';
$font-iconfont-chat: '\f107';
$font-iconfont-check: '\f108';
$font-iconfont-chevron-down: '\f109';
$font-iconfont-chevron-left: '\f10a';
$font-iconfont-chevron-right: '\f10b';
$font-iconfont-chevron-up: '\f10c';
$font-iconfont-cloud: '\f110';
$font-iconfont-code: '\f111';
$font-iconfont-cone: '\f13d';
$font-iconfont-cog: '\f112';
$font-iconfont-comment: '\f12d';
$font-iconfont-edit: '\f115';
$font-iconfont-export: '\f116';
$font-iconfont-eye: '\f117';
$font-iconfont-feather: '\f119';
$font-iconfont-globe: '\f11b';
$font-iconfont-graduation-cap: '\f11e';
$font-iconfont-heart: '\f11f';
$font-iconfont-heart-empty: '\f120';
$font-iconfont-home: '\f121';
$font-iconfont-info: '\f122';
$font-iconfont-install: '\f124';
$font-iconfont-lab-flask: '\f125';
$font-iconfont-leaf: '\f126';
$font-iconfont-light-bulb: '\f127';
$font-iconfont-location: '\f129';
$font-iconfont-magnifying-glass: '\f12a';
$font-iconfont-mail: '\f12b';
$font-iconfont-megaphone: '\f12c';
$font-iconfont-mic: '\f12e';
$font-iconfont-minus-circled: '\f10e';
$font-iconfont-network: '\f12f';
$font-iconfont-open-book: '\f130';
$font-iconfont-paper-plane: '\f131';
$font-iconfont-plus-circled: '\f10f';
$font-iconfont-price-tag: '\f134';
$font-iconfont-rocket: '\f135';
$font-iconfont-rss: '\f136';
$font-iconfont-star: '\f139';
$font-iconfont-star-empty: '\f13a';
$font-iconfont-thumbs-up: '\f13c';
$font-iconfont-thumbs-down: '\f13b';
$font-iconfont-tree: '\f13e';
$font-iconfont-trophy: '\f13f';
$font-iconfont-upload-cloud: '\f142';
$font-iconfont-v-card: '\f143';
$font-iconfont-video: '\f144';

$font-iconfont-bbb: '\f149';
$font-iconfont-discord: '\f113';
$font-iconfont-dropbox: '\f114';
$font-iconfont-facebook: '\f118';
$font-iconfont-github: '\f11a';
$font-iconfont-google-play: '\f11c';
$font-iconfont-google-plus: '\f11d';
$font-iconfont-instagram: '\f123';
$font-iconfont-linkedin: '\f128';
$font-iconfont-paypal: '\f132';
$font-iconfont-pinterest: '\f133';
$font-iconfont-skype: '\f137';
$font-iconfont-soundcloud: '\f138';
$font-iconfont-tumblr: '\f140';
$font-iconfont-twitter: '\f141';
$font-iconfont-vimeo: '\f145';
$font-iconfont-xing: '\f147';
$font-iconfont-youtube: '\f148';
$font-iconfont-zoom: '\f14a';
