@charset "utf-8";
/* Syntax highlighting styles
------------------------------------------------------------------- */

.highlight {
    background: #fff;
    .c     { color: $highlight-comment; font-style: italic } // Comment
    .err   { color: $highlight-error; background-color: #e3d2d2 } // Error
    .k     { color: $highlight-keyword-type; font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $highlight-comment; font-style: italic } // Comment.Multiline
    .cp    { color: $highlight-comment-special; font-weight: bold } // Comment.Preproc
    .c1    { color: $highlight-comment; font-style: italic } // Comment.Single
    .cs    { color: $highlight-comment-special; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: $highlight-generic-deleted } // Generic.Deleted
    .gd .x { color: #000; background-color: $highlight-generic-deleted-specific } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $highlight-generic-error } // Generic.Error
    .gh    { color: $highlight-generic-heading } // Generic.Heading
    .gi    { color: #000; background-color: $highlight-generic-inserted } // Generic.Inserted
    .gi .x { color: #000; background-color: $highlight-generic-inserted-specific } // Generic.Inserted.Specific
    .go    { color: $highlight-generic-output } // Generic.Output
    .gp    { color: $highlight-generic-prompt } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $highlight-subheading } // Generic.Subheading
    .gt    { color: $highlight-generic-traceback } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: $highlight-keyword-type; font-weight: bold } // Keyword.Type
    .m     { color: $highlight-literal-number } // Literal.Number
    .s     { color: $highlight-literal-string } // Literal.String
    .na    { color: $highlight-name-attribut } // Name.Attribute
    .nb    { color: $highlight-name-builtin } // Name.Builtin
    .nc    { color: $highlight-name-class; font-weight: bold } // Name.Class
    .no    { color: $highlight-name-constant } // Name.Constant
    .ni    { color: $highlight-name-entity } // Name.Entity
    .ne    { color: $highlight-name-exception; font-weight: bold } // Name.Exception
    .nf    { color: $highlight-name-function; font-weight: bold } // Name.Function
    .nn    { color: $highlight-name-namespace } // Name.Namespace
    .nt    { color: $highlight-name-tag } // Name.Tag
    .nv    { color: $highlight-name-variable } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: $highlight-text-whitespace } // Text.Whitespace
    .mf    { color: $highlight-literal-number } // Literal.Number.Float
    .mh    { color: $highlight-literal-number } // Literal.Number.Hex
    .mi    { color: $highlight-literal-number } // Literal.Number.Integer
    .mo    { color: $highlight-literal-number } // Literal.Number.Oct
    .il    { color: $highlight-literal-number } // Literal.Number.Integer.Long
    .sb    { color: $highlight-literal-string } // Literal.String.Backtick
    .sc    { color: $highlight-literal-string } // Literal.String.Char
    .sd    { color: $highlight-literal-string } // Literal.String.Doc
    .s2    { color: $highlight-literal-string } // Literal.String.Double
    .se    { color: $highlight-literal-string } // Literal.String.Escape
    .sh    { color: $highlight-literal-string } // Literal.String.Heredoc
    .si    { color: $highlight-literal-string } // Literal.String.Interpol
    .sx    { color: $highlight-literal-string } // Literal.String.Other
    .sr    { color: $highlight-literal-string-regex } // Literal.String.Regex
    .s1    { color: $highlight-literal-string } // Literal.String.Single
    .ss    { color: $highlight-literal-string-symbol } // Literal.String.Symbol
    .bp    { color: $highlight-name-builtin-pseudo } // Name.Builtin.Pseudo
    .vc    { color: $highlight-name-variable } // Name.Variable.Class
    .vg    { color: $highlight-name-variable } // Name.Variable.Global
    .vi    { color: $highlight-name-variable } // Name.Variable.Instance
}
