---
layout: default
format: post
---
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</div>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
            {% endif %}

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.show_meta == true %}
            <div id="page-meta" class="t30">
			  <p>
				   <!--  <\!-- Look the author details up from the site config. -\-> -->
				   <!--  {% assign author = site.data.authors[page.author] %} -->
				   <!--  <\!-- Output author details if some exist. -\-> -->
				   <!--  {% if author %} -->
				   <!--  <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit"><a href="{{ author.uri }}" target="_blank"> {{ author.name }}</a></span> -->
				   <!-- </span> -->
				   <!-- {% endif %} -->
                   {% if page.categories %}<span class="icon-archive pr20"> {{ page.categories | join: ' · ' | upcase }}{% endif %}</span>

				   {% if page.ects %}<span class="icon-check pr20"> {{ page.ects }} ECTS{% endif %}</span>
                   {% if page.schedule %}<span class="icon-calendar pr20"> {{ page.schedule }}{% endif %}</span>

				<!-- <br /> -->
				<span class="pr20">{% for tag in page.tags %}<span class="icon-price-tag pr10"> {{tag}}</span> {% endfor %}</span>

                {% if page.website %}<span class="icon-home pr20"><a href="{{ page.website }}" target="_blank"> Site web</a>{% endif %}</span>
                {% if page.email %}<span class="icon-mail pr20"><a href="mailto:{{ page.email }}" target="_blank"> {{ page.email }}</a>{% endif %}</span>
			</p>

			</div><!--  /.page-meta -->
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
