---
layout: default
format: syllabus
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}

<div class="row t30">
	<div class="medium-12 columns">
	    <article>
                {% assign author = site.data.authors[page.author] %}
                <!--  <\!-- Output author details if some exist. -\-> -->
		<header>
                    <p class="subheadline">
                        {%if page.subheadline %}<p class="subheadline">{{ page.subheadline }}
                        {% if page.author %} &ndash; {{ author.name }}{% endif %}
                        {% elsif page.author %}{{ author.name }}{% endif %}
                    </p>
		    <h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}
                        {% if page.show_meta == true %}
                        {% include _meta_information_syllabus.html authorinfo=author %}
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->
