---
layout: default
format: syllabus
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}

<div class="row t30">
	<div class="medium-12 columns">
	    <article>
                {% assign authors = page.author | split: ", " %}
                <!--  <\!-- Output author details if some exist. -\-> -->
		<header>
                    <p class="subheadline">
                        {%if page.subheadline %}{{ page.subheadline }}
                            {% if page.author %}
                                &ndash;
                                {% for author in authors %}
                                {% if forloop.index == 1 %}
                                    {{ site.data.authors[author].name }}
                                {% else %}
                                    &amp; {{ site.data.authors[author].name }}
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% elsif page.author %}
                            {% for author in authors %}
                                {% if forloop.index == 1 %}
                                    {{ site.data.authors[author].name }}
                                {% else %}
                                    &amp; {{ site.data.authors[author].name }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if page.subtitle !=NULL %}                    <!-- OB -->
		    <h1 class="withsubtitle" >{{ page.title }}</h1>  <!-- OB -->
                    <p class="subtitleline">{{ page.subtitle }}</p>  <!-- OB -->
                    {% else %}                                       <!-- OB -->
                    <h1>{{ page.title }}</h1>
                    {% endif %}                                      <!-- OB -->
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}
                        {% if page.show_meta == true %}
                        {% include _meta_information_syllabus.html authorinfo=authors %}
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->
